background-size {
    width: 1170px;
}

.title {
    color: #02ccba;
  }

.phase-1 img {
    width: 50%;
}

.phase-2 img {
    width: 190px;
    height: 200px;
}

.phase-2 video {
    width: 200px;
    height: 200px;
}
